* {
    margin: 0;
    padding: 0;
    background-color: rgb(168, 206, 255);
    font-family: Roboto;
    
}

header{
    grid-column-start: 1;
    grid-column-end: 3;
      
}

#menu{
    display: flex;
    background-color: rgb(168, 206, 255);
    color: white;
    font-size: 20px;
    margin-left: 340px;
    margin-top: -230px;  
}

#menu li{
    text-decoration: none;
    font-size:larger;
    display: block;
    padding: 50px;
    margin-right: auto;
}


main{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 40px;  
    color:rgb(2, 77, 173);
}






    
   

footer{
    background-color: rgb(2, 77, 173);
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: right;
    color: rgb(184, 206, 252);
    font-size: 20px;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 30vh 70vh 5vh;

}