* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: rgb(13, 77, 0);
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  

}

p {
  font-family: "Anton", sans-serif;
  padding: 10px;
  font-size: 40px;
  color: rgb(2, 223, 13);
}

#divBusca {
  grid-auto-columns: auto;
  background-color: rgb(2, 223, 13);
  border: solid 1px;
  border-radius: 15px;
  width: 300px;
}

#txtBusca {
  background-color: transparent;
  padding-left: 5px;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 260px;
}

#divBusca img{
  width: 20px;
}
h3{
    text-align: center;
    color: rgb(13, 77, 0)
}

video {
  margin: 20px;
  max-width: 145vh;
  align-items: center;
}

footer {
  text-align: center;
  background-color: rgb(13, 77, 0);
  width: 100%;
  bottom: 0;
}

footer h1 {
  color: rgb(2, 223, 13);
  margin: auto;
}

@media screen and (min-device-width:320px) and (max-width: 480px) {
  header{
   display: flex;
   flex-direction:column ;
   padding: 50px;
  }
  
   
   
   main div{
     display: flex;
     flex-direction: column;
     padding: 10;
          
   }
 
 
   
   
   footer{
     padding-right: 98px;
     position: fixed;
     width: 100%;
   }
 }
 


  

